@font-face {
    font-family: 'JetBrains Mono';
    src: url(assets/fonts/JetBrainsMono-VariableFont_wght.ttf) format('truetype');
    font-style: normal;
    font-weight: 100 900;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(assets/fonts/JetBrainsMono-Italic-VariableFont_wght.ttf) format('truetype');
    font-style: italic;
    font-weight: 100 900;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(assets/fonts/static/JetBrainsMono-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'JetBrains Mono';
    src: url(assets/fonts/static/JetBrainsMono-BoldItalic.ttf) format('truetype');
    font-style: italic;
    font-weight: 700;
}

:root {
    --clr-primary: rgb(164, 255, 175); /* green 200 */
    --gradient: linear-gradient(to right, rgb(20, 19, 27), rgb(8, 7, 11)); 
    --clr-body: rgb(230, 229, 234); /* grey 200 */
    --clr-heading: rgb(128, 124, 146); /* grey 600 */
    --clr-grey-700: rgb(84, 83, 91);
    --clr-grey-800: rgb(36, 35, 44);
    --clr-grey-850: rgb(24, 23, 31);
    --padding: 2.2rem;
}

*, *::before, *::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Typography */
body {
    font-family: 'JetBrains Mono', sans-serif;
    font-weight: 700;
    line-height: 1.1;
    font-size: 1.6rem;
    color: var(--clr-body);
    background-color: rgb(8, 7, 11);
}

h1 {
    margin-top: 7rem;
    margin-bottom: 1.6rem;
    line-height: 1.4;
    font-size: 1.6rem;
    color: var(--clr-heading);
    text-align: center;

}

h2 {
    font-size: 2.4rem;
    line-height: 1.4;
    color: var(--clr-grey-700);
}

@media screen and (min-width: 600px) {
    h1 {
        line-height: 1.4;
        font-size: 2.4rem;
    }
    h2 {
        font-size: 3.2rem;
        line-height: 1.7;
    }

    body {
        font-size: 1.8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

}

.container, .result-container {
    margin: 0 1rem;
    max-width: 100%;
    background-color: var(--clr-grey-800);
    padding: var(--padding);
}

@media screen and (min-width: 600px){
    .container, .result-container {
        width: 54rem;
    }
}

/* Results */
.result-container {
    max-height: 6.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;
}

.copy-img {
    width: 1.75rem;
    height: 2rem;
}

@media  screen and (min-width: 600px) {
    .result-container {
        max-height: 8rem;
    }
}

/* Password Options */
.password-gen-form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}
.slider-value {
    color: var(--clr-primary);
    font-size: 2.4rem;
}
.slider {
    margin-bottom: 1.4rem;
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
    height: 8px;
    background-color: var(--clr-grey-850);
      --fill-percentage: 50%; 
}
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 28px;
    height: 28px;
    border-radius: 50%; 
    background: var(--clr-body);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 28px;
    height: 28px;
    border-radius: 50%; 
    background: var(--clr-body);
    cursor: pointer;
}


input[type="range"]::-webkit-slider-thumb:active {
    background-color: var(--clr-grey-850);
    outline: 2px solid var(--clr-primary);
}

input[type="range"]::-webkit-slider-thumb:active {
    background-color: var(--clr-grey-850);
    outline: 2px solid var(--clr-primary);
}
.slider-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.slider-heading > p {
    margin: 0;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 55px;
    cursor: pointer;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: inherit;
    border: 3px solid var(--clr-body);
}
.checkbox-container:hover input ~ .checkmark {
    border: 3px solid var(--clr-primary);
}

.checkbox-container input:checked ~ .checkmark {
    border: 3px solid var(--clr-primary);
     background-color: var(--clr-primary);
}

.checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

/* checkmark */
.checkbox-container .checkmark::after {
  left: 7px;
  top: 1px;
  width: 7px;
  height: 15px;
  border: solid var(--clr-grey-850);
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.btn-generate {
    border: none;
    background-color: var(--clr-primary);
    text-transform: uppercase;
    padding: var(--padding);
    color: var(--clr-grey-800);
    font-size: 1.6rem;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    border: 2px solid var(--clr-grey-850);
    transition: transform 0.3s ease-in;
}
.btn-generate:active {
    color: var(--clr-grey-800);
    filter: inherit;
    background-color: inherit;
    border: none;
}
.btn-generate:hover {
    background-color: rgb(129, 255, 144);
}

.btn-generate:active {
    border: 2px solid var(--clr-primary);
}
.btn-generate:hover .arrow-right {
    transform: translateX(10px);
}
.btn-generate:active,
.btn-generate:active .arrow-right {
    color: var(--clr-primary);
    filter: brightness(0) saturate(100%) invert(83%) sepia(36%) saturate(383%) hue-rotate(71deg) brightness(102%) contrast(102%);
    background-color: inherit;
}

.arrow-right {
    margin-left: 1rem;
}

@media screen and (min-width: 600px) {
    .slider-value {
        font-size: 3.2rem;
    }
    .btn-generate {
        font-size: 1.8rem;
    }
}

/* Strength Boxes */

.strength-container {
    margin: 1.4rem 0;
    color: var(--clr-heading);
    background-color: var(--clr-grey-850);
    text-transform: uppercase;
    padding: 0.6rem var(--padding);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.strength-rating {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.strength-title {
    margin: 0;
    text-transform: uppercase;
    color: var(--clr-body);
    font-size: inherit;
}

.strength-boxes {
    display: flex;
    column-gap: 0.8rem;
    align-self: flex-end;
}
.boxes {
    width: 1rem;
    height: 2.8rem;
    border: 2px solid var(--clr-body);
}